@import url(/css/reset.css);

* {
    box-sizing: border-box;
}

section {
    width: 100%;
    height: 100vh;
}


article {
    width: 50%;
    height: 100vh;
}


.flex {
    display: flex;
}

.summary {
    margin-top: 20px;
}

.item {
    margin-top: 50px;
    gap: 5px;
    width: 60%;
}

.product1 .item li {
    width: 60%;
}


.sticky {
    background-attachment: fixed;
}

.art1,
.art2 {
    border: 5px solid #FB7575;
    padding: 20px;
    width: 45%;
    height: 400px;
    text-align: center;
}

.column {
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.attach-bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    height: 100%;
}


.desc-wrap {
    text-align: center;
    padding: 5px;
}


.desc-wrap h3 {
    font-size: 38px;
    font-weight: lighter;
    line-height: 80px;
}

.desc-wrap p {
    font-size: 18px;
    line-height: 25px;
}

.desc-wrap a {
    border: 1px solid #000;
    padding: 10px;
    line-height: 80px;
}


.sumup {
    line-height: 50px;
}

.sumup h3 {
    font-size: 28px;
    font-weight: 400;
}

.sumup p {
    font-size: 16px;
}

.sumup a {
    padding: 10px;
    border: 1px solid #000;
    line-height: 70px;
}

.reverse {
    flex-direction: row-reverse;
}

.bg1 {
    background-image: url(/images/sect1.jpg);
    background-position: right top;
    width: 50%;
}

.bg2 {
    background-image: url(/images/sect2.jpg);
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.bg3 {
    background-image: url(/images/sect4.jpg);
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.bg4 {
    background-image: url(/images/sect5.png);
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}


.summary2 {
    width: 100%;
    height: 200px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 40%;
}

.summary2 h2 {
    font-size: 60px;
    line-height: 80px;
}


.summary2 .button {
    border: 1px solid #fff;
    padding: 10px;
    line-height: 90px;
}



#sect3 {
    width: 100%;
    height: 100vh;
}

#sect3 h3 {
    text-align: center;
    font-size: 50px;
    line-height: 100px;
}


.sect3-wrap {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sect3-inner {
    width: 90%;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;

}


.box1 {
    background-image: url(/images/sect3-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.box2 {
    background: #FB7575;
    color: #fff;
    width: 100%;
    height: 100%;
}

.box3 {
    background-image: url(/images/sect3-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.box4 {
    background-image: url(/images/sect3-3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.box5 {
    background-image: url(/images/sect3-4.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.box8 {
    display: flex;
    width: 100%;
    height: 100%;
}

.box6 {
    background-image: url(/images/sect3-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.box7 {
    background: #FB7575;
    color: #fff;
    width: 100%;
    height: 100%;
}

#sect6 {
    width: 100%;
    height: 100%;
    margin-top: 200px;
}

#sect6 h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sect6 .insta img {
    width: 8%;
    border-radius: 99px;
    border: 1px solid #868686;
}

.insta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.swiper-slide {
    padding-top: 30px;
}

.swiper-slide img {
    width: 100%;
}

.swiper-wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    gap: 20px;
}

footer {
    width: 100%;
    height: 100%;
    background: gray;
    color: #fff;
    padding: 20px;
    margin-top: 100px;
}

.footer-wrap ul {
    display: flex;
    gap: 20px;
    line-height: 40px;
}

.footer-wrap p {
    line-height: 30px;
}

/* #sect4 .art1>div,
#sect5 .art2>div {
    height: 100vh;
    width: 80%;
    margin: auto;
    border: 1px solid #f0f;
} */

@media screen and (max-width: 640px) {
    .flex {
        display: block;
    }

    #sect1 {
        width: 100%;
        height: 40vh;
    }

    .column {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bg1 {
        width: 100%;
        height: 60vh;
        background-size: contain;
        background-position: bottom;
    }

    #sect2 {
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bg2 {
        width: 100%;
        height: 350px;
        margin-top: 400px;
        background-image: none;
        background: rgb(189, 189, 189);
        border: 5px solid #fff;
        color: #fff;
    }


    .summary2 h2 {
        font-size: 40px;
        line-height: 80px;

    }

    a.button {
        line-height: 80px;
        border: 1px solid #ffffff;
        padding: 10px;
    }


    #sect3 {
        width: 100%;
        height: 100%;
    }

    #sect3 h3 {
        font-size: 48px;
        text-align: center;
        padding: 20px;
    }

    .sect3-wrap {
        width: 100%;
        height: 720px;
        display: flex;
        flex-wrap: wrap;
    }



    .box1 {
        width: 50%;
        height: 50%;
    }

    .box2 {
        width: 50%;
        height: 25%;
    }

    .box3 {
        width: 50%;
        height: 25%;
    }


    .box8 {
        width: 50%;
        height: 50%;
        flex-direction: column;
    }

    .box6 {
        width: 50%;
        height: 50%;
    }

    .box7 {
        display: none;
    }

    .sticky-bg {
        width: 100%;
        height: 720px;
    }

    #sect4 {
        width: 100%;
        height: 100%;
    }
    .art1 {
        width: 100%;
        height: 100%;
        background: #fff;
    }

    .desc {
        height: 30vh
    }

    .product1,
    .product2 {
        height: 100vh;
    }

    .desc-wrap {
        text-align: center;
        padding: 50px;
        height: 50vh;
    }

    .desc-wrap h3 {
        font-size: 50px;
        font-weight: lighter;
        line-height: 100px;
    }

    .desc-wrap p {
        font-size: 20px;
        line-height: 30px;
    }

    .desc-wrap a {
        border: 1px solid #000;
        padding: 10px;
        line-height: 80px;
    }


    .product1 figure img {
        width: 100%;
    }

    .product1 figure {
        width: 70%;
        position: relative;
        left: 20px;
    }

    .product1 .sumup1 {
        position: absolute;
        right: 20px;
        text-align: right;
    }

    .sumup h3 {
        font-size: 40px;
        line-height: 80px;
    }

    .sumup p {
        font-size: 25px;
    }

    .sumup a {
        border: 1px solid #000;
        line-height: 100px;
        padding: 10px;
    }

    .summary li img {
        width: 100%;
    }


    .product2 figure img {
        width: 70%;
    }


    .product2 ul li img {
        width: 100%;
    }

    .product2 ul {
        display: flex;
        width: 50%;
    }

    #sect5 {
        width: 100%;
        height: 100%;
    }


    .art2 {
        width: 100%;
        height: 100%;
        background: #fff;
    }


    .product3 {
        width: 100%;
        height: 100vh;
    }

    .product3 figure img {
        width: 100%;
    }

    .product3 figure {
        width: 70%;
        height: 100%;
    }

    .product3 ul {
        display: flex;
    }


    .summary {
        margin-top: 100px;
        display: flex;
        flex-direction: column-reverse;
    }



    .product4 figure img {
        width: 70%;
    }

    .product4 figure {
        width: 100%;
        position: relative;
        transform: translateX(180px);
    }

    .summary ul li img {
        width: 100%;
    }

    .summary ul {
        display: flex;
        width: 50%;
        position: absolute;
        right: 10px;
        bottom: -300px;
    }



    #sect6 {
        width: 100%;
        height: 100%;
        margin-top: 200px;
    }

    #sect6 h3 {
        font-size: 30px;
        font-weight: 400;
        line-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #sect6 .insta img {
        width: 8%;
        border-radius: 99px;
        border: 1px solid #868686;
    }

    .insta {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .swiper-wrapper {
        position: relative;
    }

    .swiper-slide {
        position: absolute;
        top: 5px;
    }

    footer {
        width: 100%;
        height: 100%;
        background: gray;
        color: #fff;
        padding: 20px;
        margin-top: 60%;
    }

    .footer-wrap ul {
        display: flex;
        gap: 20px;
        line-height: 40px;
    }

    .footer-wrap p {
        line-height: 30px;
    }


}

@media screen and (min-width:641px) {

    #sect4 img,
    #sect5 img {
        width: 100%;
    }


    #sect3 h3 {
        text-align: center;
        font-size: 50px;
        line-height: 100px;
    }


    .sect3-wrap {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .sect3-inner {
        width: 90%;
        height: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;

    }

    #sect4 {
        width: 100%;
        height: 100%;
        margin-top: 200px;
        justify-content: center;

    }


    #sect5 {
        width: 100%;
        height: 100%;
        flex-direction: row-reverse;
        justify-content: center;
    }



    .bg3 {
        width: 45%;
        height: 100vh;
        background-size: 50%;

    }

    .bg4 {
        width: 45%;
        height: 100vh;
        background-size: 50%;

        background-position: right;
    }





    .box1 {
        width: 50%;
        height: 100%;
    }

    .box2 {
        width: 20%;
        height: 40%;
    }

    .box3 {
        width: 20%;
        height: 60%;
    }

    .box4 {
        width: 100%;
        height: 100%;
    }

    .box5 {
        width: 100%;
        height: 100%;
    }

    .box8 {
        width: 30%;
        height: 18%;
    }

    .box6 {
        width: 30%;
        height: 51%;
    }

    .box7 {
        width: 30%;
        height: 31%;
    }

    .sticky {
        position: sticky;
        top: 0;
    }

    #sect4,
    #sect5 {
        width: 100%;
        height: 100%;
    }


}